@model IEnumerable<ComputerStoreWeb.App.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { Id=item.Id}) |
                @Html.ActionLink("Add","Create","OrderItem", new {Name = item.Name, Cost = item.Cost, productId = item.Id },null)
            </td>
        </tr>
}
    </tbody>
</table>
